*{
    margin: 0;
    font-family: Arial;
    border : border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
.nav-logo {
    height: 50px;
    width : 100px;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:90%;
}
.border {
    border : 2px  solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
